@import url('https://fonts.googleapis.com/css2?family=Exo:wght@500&display=swap');

body {
  background-color: #ff9617;
}

.App {
  background-color: #ffce3f;
}

.Sci-Fi-Buddy_Heading {
  background-color: #ff492f;
}

.heading {
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 10px;
  padding: 0 20px;
  text-align: center;
}

.Search-Bar {
  background-color: #ffe28c;
}

.listItem {
  background-color: #ffe28c;
}

.heading p {
  color: #bdfdcd;
}

.nav-tabs .nav-link {
  background-color: transparent !important;
  color: #ffffff !important;
}

.nav-tabs .nav-link.active {
  background-color: #ff9617 !important;
  border-bottom: solid 4px white !important;
}

.winner-list-item {
  background-color: gold;
}

.nominated-list-item {
  background-color: rgb(206, 208, 175);
}
#novelModalHeader {
  background-color: #ffe28c;
}

#novelModalBody {
  background-color: #ffe28c;
}

.modalImage {
  height: auto;
  /* min-height: 40vh;
  max-height: 40vh; */
  min-width: 20vh;
  max-width: 20vh;
}

.brandText {
  font-family: 'Exo', cursive;
  font-size: 1.5rem !important;
}

/* Loading Spinner */
/* https://cssloaders.github.io/ */
.loader {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  display: inline-block;
  position: relative;
  border: 3px solid;
  border-color: #fff #fff transparent transparent;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}
.loader::after,
.loader::before {
  content: '';
  box-sizing: border-box;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  border: 3px solid;
  border-color: transparent transparent #ff3d00 #ff3d00;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  box-sizing: border-box;
  animation: rotationBack 0.5s linear infinite;
  transform-origin: center center;
}
.loader::before {
  width: 32px;
  height: 32px;
  border-color: #fff #fff transparent transparent;
  animation: rotation 1.5s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes rotationBack {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}
