@import url('https://fonts.googleapis.com/css2?family=Exo:wght@500&display=swap');

body {
  background-color: lightblue;
}

.App {
  background-color: rgb(121, 166, 177);
}

.Sci-Fi-Buddy_Heading {
  background-color: rgb(158, 145, 145);
}

.heading {
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 10px;
  padding: 0 20px;
  text-align: center;
}

.heading p {
  color: #bdfdcd;
}

#novelModalHeader {
  background-color: lightblue;
}

#novelModalBody {
  background-color: lightblue;
}

.modalImage {
  height: auto;
  /* min-height: 40vh;
  max-height: 40vh; */
  min-width: 20vh;
  max-width: 20vh;
}

.brandText {
  font-family: 'Exo', cursive;
  font-size: 2rem !important;
}
