@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap');

body {
  background-color: lightblue;
}

.App {
  background-color: rgb(121, 166, 177);
}

.Sci-Fi-Buddy_Heading {
  font-family: 'Alfa Slab One', cursive;
  font-size: 1.5rem;
  background-color: rgb(158, 145, 145);
}

.heading {
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 10px;
  padding: 0 20px;
  text-align: center;
}

.heading p {
  color: #bdfdcd;
}

.Accordion {
  background-color: green;
}
